#for eclipse
/target/
.classpath
.project
/.settings/
/bin/

#for idea
xdagj.iml
.idea
logs

de
#for project
devnet
xdagj.jar
testnet
mainnet
target
logs
dist
#for macos
.DS_Store
src/c/
src/main/resources/native
src/main/resources/xdag-mainnet.config
dependency-reduced-pom.xml
pool