<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
    <Properties>
        <property name="Logs_Dir">./logs</property>
        <Property name="log_level">info</Property>
        <Property name="error_level">error</Property>
    </Properties>
    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%t] %p - %c - %m%n"/>
        </Console>
        <!-- 与properties文件中位置存在冲突，如有问题，请注意调整 -->
        <RollingFile name="logFile" fileName="${Logs_Dir}/xdag-${log_level}.log"
                filePattern="${Logs_Dir}/history/xdag-%d{MM-dd-yyyy}-%i-${log_level}.log">
            <Filters>
                <ThresholdFilter level="${error_level}" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="${log_level}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%t] [%p] [%c:%L] -- %m%n"/>
            <Policies>
                <!-- 按天递计算频率 -->
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
                <!--                <OnStartupTriggeringPolicy/>-->
            </Policies>
            <!-- 删除策略配置 -->
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${Logs_Dir}/history" maxDepth="1">
                    <IfFileName glob="*-${log_level}.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


        <!-- 与properties文件中位置存在冲突，如有问题，请注意调整 -->
        <RollingFile name="errorFile" fileName="${Logs_Dir}/xdag-${error_level}.log"
                filePattern="${Logs_Dir}/history/xdag-%d{MM-dd-yyyy}-%i-${error_level}.log">
            <ThresholdFilter level="${error_level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%t] [%p] [%c:%L] -- %m%n"/>
            <Policies>
                <!-- 按天递计算频率 -->
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
                <!--                <OnStartupTriggeringPolicy/>-->
            </Policies>
            <!-- 删除策略配置 -->
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${Logs_Dir}/history" maxDepth="1">
                    <IfFileName glob="*-${error_level}.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--        <Async name="Async" bufferSize="2000" blocking="false">-->
        <!--            <AppenderRef ref="logFile"/>-->
        <!--        </Async>-->
    </Appenders>

    <Loggers>
        <Root level="${log_level}">
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="errorFile"/>
        </Root>
        <!-- 配置个例 -->
        <!--        <Logger name="com.xx.filter" level="info"/>-->
    </Loggers>
</Configuration>