[default]
# telnet server config
telnetIp = 127.0.0.1
telnetPort = 6001

# pool config
nodeIp = 127.0.0.1
nodePort = 8881
poolIp = 127.0.0.1
poolPort = 9992

# tcp port
libp2pPort = 10001
isbootnode = true
libp2pPrivkey = 0x0802122074ca7d1380b2c407be6878669ebb5c7a2ee751bb18198f1a0f214bcb93b894b5
poolTag = XdagJ

# pool reward config
poolRation = 5
rewardRation = 5
fundRation = 5
directRation = 5

# miner limit
globalMinerLimit = 8192
globalMinerChannelLimit = 8192
maxConnectPerIp = 256
maxMinerPerAccount = 256

password = root

whiteIPs =

bootnode = enr:-Iu4QPY6bYDC0PaafEwhgg_6yTcx0GAGbSARYqehJKEkyOmxX6SNZMyMMdkmDw9bAvYN9m2LrqIsPSd-bUqff0tsHYABgmlkgnY0gmlwhH8AAAGJc2VjcDI1NmsxoQJ2EWgMpl6PtyFKMbbOb82Ob-al9NeE3GYB3-K7n4yWwoN0Y3CCJxGDdWRwgicR
