[default]
# telnet server config
telnetIp = 127.0.0.1
telnetPort = 7002

# pool config
nodeIp = 127.0.0.1
nodePort = 8002
poolIp = 127.0.0.1
poolPort = 9002

poolTag = XdagJ

# pool reward config
poolRation = 5
rewardRation = 5
fundRation = 5
directRation = 5

# miner limit
globalMinerLimit = 8192
globalMinerChannelLimit = 8192
maxConnectPerIp = 256
maxMinerPerAccount = 256